<!-- login -->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/assets/img/logo_web.png" height="70px" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <input type="text" class="fadeIn second" formControlName="mail" id="mail" placeholder="email">
      <div><span *ngIf="isValid('mail')" class="text-danger fadeIn">
          * El email no es válido
        </span></div>

      <input type="password" class="fadeIn third" formControlName="formPassword" id="floatingPassword"
        placeholder="Password">


      <div><a *ngIf="isValid('formPassword')" class="text-danger fadeIn"> * Contraseña no válida </a></div>
      <input (click)="onSubmit()" type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->

  </div>
</div>